
<div class="thumbnail-container">
  <a href=""> 
    <div class="thumbnail"> 
      <div class="thumbnail-image"> <img src=" <%= asset_path ('Thumbnails.jpg') %>" alt="thumbnail"/></div>
      <div class="thumbnail-infos">
        <div class="thumbnail-channel">
          <%= image_tag "person-circle.svg" %>
        </div>
        <div class="thumbnail-details">
          <h1>Como Reinventar o Computador do Zero afdnuaf euuiahfasuifeuinfu  ibea sufbueafau</h1>
          <p>Infinitamente</p>
          <p>1,3 mi vizualizações • há 8 meses</p>
        </div>
      </div>
    </div>
  </a> 
  <a href=""> 
    <div class="thumbnail"> 
      <div class="thumbnail-image"> <img src=" <%= asset_path ('Thumbnails.jpg') %>" alt="thumbnail"/></div>
      <div class="thumbnail-infos">
        <div class="thumbnail-channel">
          <%= image_tag "person-circle.svg" %>
        </div>
        <div class="thumbnail-details">
          <h1>Como Reinventar o Computador do Zero afdnuaf euuiahfasuifeuinfu  ibea sufbueafau</h1>
          <p>Infinitamente</p>
          <p>1,3 mi vizualizações • há 8 meses</p>
        </div>
      </div>
    </div>
  </a> 
  <a href=""> 
    <div class="thumbnail"> 
      <div class="thumbnail-image"> <img src=" <%= asset_path ('Thumbnails.jpg') %>" alt="thumbnail"/></div>
      <div class="thumbnail-infos">
        <div class="thumbnail-channel">
          <%= image_tag "person-circle.svg" %>
        </div>
        <div class="thumbnail-details">
          <h1>Como Reinventar o Computador do Zero afdnuaf euuiahfasuifeuinfu  ibea sufbueafau</h1>
          <p>Infinitamente</p>
          <p>1,3 mi vizualizações • há 8 meses</p>
        </div>
      </div>
    </div>
  </a> 

  <a href=""> 
    <div class="thumbnail"> 
      <div class="thumbnail-image"> <img src=" <%= asset_path ('Thumbnails.jpg') %>" alt="thumbnail"/></div>
      <div class="thumbnail-infos">
        <div class="thumbnail-channel">
          <%= image_tag "person-circle.svg" %>
        </div>
        <div class="thumbnail-details">
          <h1>Como Reinventar o Computador do Zero afdnuaf euuiahfasuifeuinfu  ibea sufbueafau</h1>
          <p>Infinitamente</p>
          <p>1,3 mi vizualizações • há 8 meses</p>
        </div>
      </div>
    </div>
  </a> 
  <a href=""> 
    <div class="thumbnail"> 
      <div class="thumbnail-image"> <img src=" <%= asset_path ('Thumbnails.jpg') %>" alt="thumbnail"/></div>
      <div class="thumbnail-infos">
        <div class="thumbnail-channel">
          <%= image_tag "person-circle.svg" %>
        </div>
        <div class="thumbnail-details">
          <h1>Como Reinventar o Computador do Zero afdnuaf euuiahfasuifeuinfu  ibea sufbueafau</h1>
          <p>Infinitamente</p>
          <p>1,3 mi vizualizações • há 8 meses</p>
        </div>
      </div>
    </div>
  </a> 
<div>