
<h1> Histórico de exibição </h1>
<div class="history-container">
  <% # (1..10) == [1,2,3,4,5,6,7,8,9,10].each  %>
  <% logged_channel.histories.reverse_each do |history|  %>
    <% if history.video.present? %>
      <h4> <%= @channel.history_view_day(history) %> </h4>
      <a href="/watch?v=<%= history.video.id %>">
        <div class="thumbnail"> 
          <div class="thumbnail-image"> 
            <% if history.video.thumbnail.attached? %>
              <%= image_tag url_for(history.video.thumbnail), alt: "Thumbnail"%>
            <% else %>
              <%= image_tag "Thumbnails.jpg", alt: "Placeholder Thumbnail" %>
            <% end %>
          </div>
          <div class="thumbnail-infos">
              <div class="thumbnail-channel">
                <% if history.video.channel.photo.attached? %>
                  <%= image_tag url_for(history.video.channel.photo), alt: "Photo"%>
                <% else %>
                  <%= image_tag "person-circle.svg" %>
                <% end %>
              </div>
              <div class="thumbnail-details">
                <h1><%= history.video.title%></h1>
                <p><%= history.video.channel.name%></p>
                <p> <%= history.video.views_count_string %> • <%= history.video.time_count_string %> </p>
              </div>
          </div>
        </div>
      </a>
    <% else %>
      <p>Você ainda não assistiu a nenhum vídeo.</p>
    <% end %>
  <% end %>
<div>